@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.modal-header {
	color: black;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.close {
	font-size: 15px;
}

div, h5, p {
	color: #444444;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

#soulsmile-title {
	font-size: 2em;
	font-weight: 500;
}

#earn-soulsmiles {
	padding: 15px 10px 10px 10px;
}
 
#smile {
	color: #eda1aa;
}

#yesButton {
	width: 50%;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}

#yesButton:hover {
	background-color: #444444;
	color: #eda1aa;
}

#noButton {
	font-weight: 400;
}

#disclosure {
	padding: 0px 10px 10px 10px;
	font-size: 12px;
}

/* FONTS */

