#yourBoxOneID {
	position: fixed;
	top: 100px;
	right: 0px;
	width: 250px;
	overflow: auto;
	height: 300px;
	z-index: 1;
	background-color: rgba(255, 254, 254);
	border-radius: 10px;
	border: 1px solid #444444;
	-webkit-animation: slide-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: slide-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes slide-left {
	0% {
	  transform: translateX(0px);
	}
	100% {
	  transform: translateX(-40px);
	}
}