@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

#permissionNotification {
	position: fixed;
	top: 20px;
	right: 0px;
	width: 275px;
	overflow: auto;
	height: 450px;
	z-index: 2147483647;
	background-color: rgba(255, 254, 254);
	border-radius: 3px;
	-webkit-animation: slide-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: slide-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	box-shadow: 3px 3px 10px #888888;
	color: #444444;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#soulsmilePopup {
	position: fixed;
	top: 20px;
	right: 0px;
	width: 275px;
	overflow: auto;
	height: 450px;
	z-index: 2147483647;
	background-color: rgba(255, 254, 254);
	border-radius: 3px;
	-webkit-animation: slide-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: slide-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	box-shadow: 3px 3px 10px #888888;
	color: #444444;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#earningsNotification {
	position: fixed;
	top: 20px;
	right: 0px;
	width: 275px;
	overflow: auto;
	height: 400px;
	z-index: 2147483647;
	background-color: rgba(255, 254, 254);
	border-radius: 3px;
	-webkit-animation: slide-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: slide-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	box-shadow: 3px 3px 10px #888888;
}

@keyframes slide-left {
	0% {
	  transform: translateX(0px);
	}
	100% {
	  transform: translateX(-40px);
	}
}