@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  width: 300px;
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #444444;
}

#loginOrSignup {
  color: #eda1aa;
}

#loginOrSignup:hover {
  text-decoration: underline;
}
 
hr {
  width: 75%;
  border: none;
  height: 0.75px;
  color: #444444; /* old IE */
  background-color: #444444; /* modern browsers */
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#photo {
  padding: 0px 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

#soul {
  font-size: 2em;
  font-weight: bold;
  padding: 20px 10px 20px 10px;
  position: fixed;
  top: 0;
  text-align: center;
}

#activateButton {
  padding: 20px 10px 20px 10px;
}

#smile {
  color: #eda1aa;
}

#message {
  font-size: 18px;
  padding: 30px 15px 30px 15px;
}

#disclosure {
  padding: 40px 10px 0px 10px;
  font-size: 8px;
}

#learnMore {
  padding: 20px 10px 0px 10px;
  font-size: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#shareButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

#icon {
  color: #eda1aa;
  padding: 9px;
}

#icon:hover {
  color: #444444;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 0px 10px 0px 10px;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

#error{
  color: red;
  padding: 5px 10px;
  margin: 5px 0px;
}

#container {
  overflow: auto;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

#outlined-secondary {
  padding: 9.25px 7px;
}

#outlined-secondary-label {
  top: -3px;
}